@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 2px 3px;
  border: 2px solid black;
  border-radius: 9px;
  box-shadow: 3px 3px 3px #000;
  font-weight: bold;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}

.innerContainer {
  background: #3a3a45;
  padding: 20px;
  border-radius: 25px;
  margin: 10px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}